@page "/zamovlennya"
@using System.Net.Http
@using System.Net.Http.Json
@using Blazor.Data;
@using DataAccess.Models;
@inject HttpClient Http
<div class="container-fluid">
    <h1>Zamovlennya</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Virobnik</th>
                <th>Material</th>
                <th>Price</th>
                <th>Pocupci</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in view)
            {
                <tr>
                    <td>@v.Virobnik</td>
                    <td>@v.Material</td>
                    <td>@v.Price</td>
                    <td>@v.FullName</td>
                    <td>@v.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@code {
    private List<ZamovlennyaPokaz> view = new List<ZamovlennyaPokaz>();
    protected override void OnInitialized()
    {
        var meblis = Http.GetFromJsonAsync<List<MebliPokaz>>("https://localhost:44324/api/Mebli/all").Result;
        var opis = Http.GetFromJsonAsync<List<MebliOpis>>("https://localhost:44324/api/Opsi/all").Result;
        var zamovlennyas = Http.GetFromJsonAsync<List<ZamovlennyaPokaz>>("https://localhost:44324/api/Zamovlennya/all").Result;
        var pocupci = Http.GetFromJsonAsync<List<Pocupci>>("https://localhost:44324/api/Pocupci/all").Result;
        foreach (var zamovlennya in zamovlennyas)
        {
            var mebli = meblis.Where(c => c.Id == zamovlennya.MebliID).First();
            view.Add(new ZamovlennyaPokaz
            {
                Price = mebli.Price,
                Virobnik = opis.Where(d => d.MebliID == mebli.Id).First().Virobnik,
                Material = opis.Where(d => d.MebliID == mebli.Id).First().Material,
                FullName = pocupci.Where(d => d.Id == mebli.ProdavecID).First().FullName,
                Email = pocupci.Where(d => d.Id == mebli.ProdavecID).First().Email
            });
        }
    }
}
